/* CSS declarations go here */
* {
  font-family: Roboto !important;
}

body {
  
  background: url(/blackboard_bg.jpg) round;
  background-attachment: fixed;
}
 
header {
  background: #eeeeee;
  background-image: linear-gradient(to bottom, #ffffff, #eeeeee 50%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

hr{
  border-top: 1px solid #000000 !important;
}

.app-title {
  border-style: groove;
}

.bg-color {
  background-color: #eeeeee !important;
}

.teacher-list-element {
    padding: 1em;
}

.teacher-list-element:hover {
    border-style: groove;
}

.footer {
  text-align: center;
    color: white;
}

.teacher-info {
  text-align: center;
  padding: 2.322em 2em;
}
.teacher-profile-img {
    width: 15em;
    border-radius: 1em;
    border: thick groove snow;
}

.inline-img-responsive {
    max-width: 100%;
    display: inline;

}

.rating-stars-img {
  width: 25em;
}

.criteria-checkbox {
  width: 2em;
    height: 2em;
}

.reviews {
  padding: 0 20%;
    font-weight: bold;
}

.good-review {
  background-color: rgba(139, 195, 74, 0.25);
}

.bad-review {
  background-color: rgba(244, 67, 54, 0.25);
}

.comments {
  background-color: rgba(33, 150, 243, 0.25);
}

.caption {
  margin: -0.5em 0;
    display: block;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
  padding-top: 1em;
}
 
.new-task input {
  text-align: center;
  box-sizing: border-box;
  background: transparent;
  border: none;
  width: 100%;
  font-size: 1.5em;
  font-style: italic;
}
 
header .hide-completed {
  float: right;
}
